@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  font-size: 62.5%;
  --gray-color: #cecdcd;
  --blue-color: #1e90ff;
  --white-color:  #ececec;
  
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  
}

#container {
  text-align: center;

}

.progress-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  width: 35rem;
}

.progress-container::before {
  content: '';
  position: absolute;
  background-color: var(--gray-color);
  height: 0.4rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.4s;
  z-index: -1;
  width: 100%;
}

.progress-barrier {
  position: absolute;
  background-color: var(--blue-color);
  height: 0.4rem;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.4s;
  z-index: -1;
}

.circle {
  border: 0.3rem solid var(--gray-color);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.1rem;
  color: #999;
  z-index: 2;
  background: var(--white-color);
}

.circle.active {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

.btn {
  padding: 1.2rem 3rem;
  color: #fff;
  background-color: var(--blue-color);
  border-radius: 1rem;
  border: none;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.btn:disabled {
  background-color: var(--gray-color);
}