@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  /* border: 2px solid red; */
  background-color: #ececec;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  /* position: absolute; */
}

#container {
  /* border: 0.2rem solid; */
  /* padding: 10rem 15rem; */
  text-align: center;

}

.progress-container {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  width: 35rem;
}

#progress {
  /* width: 100%; */
  position: absolute;
  background-color: dodgerblue;
  height: 0.4rem;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.4s;
  z-index: -1;
}

.circle {
  border: 3px solid rgb(194, 194, 194);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.1rem;
  color: #999;
  z-index: 2;
}

.circle.active {
  border-color: dodgerblue;
}

.btn {
  padding: 1.2rem 3rem;
  color: #fff;
  background-color: dodgerblue;
  border-radius: 1rem;
  border: none;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.btn:disabled {
  background-color: rgb(194, 194, 194);
}